# Can We Predict Whether Someone Survived The Titanic Sinking?

The sinking of the Titanic is one the most well known events in human history. Boasting both pop-culture significance and historical relevance there are likely thousands if not millions of people who have asked the question; "Would I survive the Titanic?" While we have no way to go back in time and see for ourselves we thankfully have the second best thing: data. More specifically data on the passengers. We know who they were, where they stayed and most importantly if they survived. Let's take a look at this historical demographic battle royal and see what kind of person was most likely to survive the Titanic.

In [18]:
import numpy as np
import pandas as pd

Before we start to do any actual analysis it is a good idea to get a grasp on the data we have.

In [19]:
train_data = pd.read_csv('train.csv')
print(train_data.info())
train_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

There are 12 categories provided to us. It is a good idea to write down exactly what they each represent.

PassengerId - ID of the Passenger
Pclass - The ticket class the passenger has. The quality goes best to worst 1, 2, 3
Name - The name of the Passenger
Sex - The sex of the passenger Male or Female
Age - The age of the Passenger
SibSp - The number of Siblings or Spouses the Passenger had on board.
Parch = The number of Parents or Children the Passenger had on board.
Ticket -  The Ticket Number of the Passenger
Fare - The Price paif for the ticket
Cabin - The Cabin they resided in
Embarked - The Port from which they embarked C = Cherbourg, Q = Queenstown, S = Southampton

The Standout Category is Survived
Survived - Whether or not they survived. 1 for Yes, 0 for No.
Our entire model will be built around predicting whether a Passenger gets a 1 or a zero.

Now that we understand the data lets try to clean it up. First lets get rid of any non-essential categories. The only column that is useless to our analysis of the Data is "PassengerID" which serves only as a sort of built in index for each passenger.

In [20]:
train_data = train_data.drop('PassengerId', axis=1)